.carousel{
	width:100%;
	overflow:hidden;
	margin:0 auto;
	position:relative;
}
.carousel ul.swiper-wrapper{
	width:800%;
	height:100%;
	display:-webkit-box;
}
.carousel ul.swiper-wrapper li{
	height:100%;
	-webkit-box-flex:1;
}
.carousel ul.swiper-wrapper li img{
	width:100%;
	display:block;
}
.carousel ul.circle{
	overflow:hidden;
	padding:2px 5px;
	
	background:#000;
	opacity:0.8;
	height:6px;
	border-radius:8px;
	position:absolute;
	bottom:3vw;
	left:50%;
	transform: translateX(-50%);
}
.carousel ul.circle li{
	width:6px;
	height:6px;
	border-radius:50%;
	background:#999;
	margin-right:10px;
	float:left;
	transition:all 1s ease 0s;
}
.carousel ul.circle li.active{
	background:#fff;
}
.carousel ul.circle li:last-child{
	margin-right:0;
}
/*菜单导航栏nav*/
.menu{
	display:-webkit-box;
	padding:10px 0;
	background:#fff;
}
.menu nav{
	-webkit-box-flex:1;
	display:block;
	text-align: center;
}
.menu nav img{
	width:40%;
}
.menu nav span{
	color:#666;
	line-height: 26px;
	display:block;
	font-size: 12px;
}
/*热门品类*/
.hotClass{
	width:100%;
}
.hotClass h3{
	text-align: center;
	line-height: 40px;
	font-size:16px;
	color:#666;
}
.hotClass ul{
	overflow:hidden;
}
.hotClass ul li{
	width:25%;
	float:left;
	box-sizing:border-box;
	border-left:1px solid #e0e0e0;
	border-top:1px solid #e0e0e0;
}
.hotClass ul li img{
	width:100%;
	display:block;
}
/*人气推荐*/
.popular{
	width:100%;
}
.popular h3{
	text-align: center;
	line-height: 40px;
	font-size:16px;
	color:#666;
}
.popular img{
	width:100%;
}
/*公共*/
.scrollList{
	width:100%;
    overflow-x: scroll;
    overflow-y: hidden;
    background: #fff;
    
}
.scrollList ul{
	/*width:700%;*/
	padding:18px;
	white-space: nowrap;
}
.scrollList ul li{
	text-align: center;
	width:25%;
	display: inline-block;
	margin-right:18px;
	vertical-align: top;
}
.scrollList ul li img{
	width:100%;
}
.scrollList ul li .listText{
	width:100%;
	-webkit-transform: scale(1);
    transform: scale(1);
}
.scrollList ul li span{
	color:#666;
	font-size:14px;
	display:block;
	line-height: 20px;
}
.scrollList ul li p{
	color:#ccc;
	font-size:12px;
}
/*单品列表*/
.list{
	width:100%;
	background: #fff;
	border-top:1px solid #ccc;
	margin-top:20px;
}
.list h2{
	line-height: 60px;
	font-size:20px;
	text-align: center;
	color:#ccc;
}
.list h2:before{
	content:"";
	display:inline-block;
	background:url(../../../img/list/icon.png) no-repeat -98.5px -34.5px;
	background-size:128px 88px;
	width:15px;
	height:15px;
	position:relative;
	right:6px;
}
.list ul{
	overflow:hidden;
	padding:0 3%;
}
.list ul li{
	width:48.5%;
	float:left;
	overflow:hidden;
	margin-right:3%;
	padding-bottom:20px;
}
.list ul li:nth-child(2n){
	margin-right:0;
}
.list ul li .imgWrap{
	position:relative;
	overflow:hidden;
}
.list ul li .imgWrap img{
	width:100%;
}
.list ul li .imgWrap span{
	position:absolute;
	left:0;
	bottom:0;
	text-align: center;
	color:#fff;
	background: #000;
	opacity:0.3;
	width:100%;
}
.list ul li p{
	color:#666;
	font-size:12px;
	transform: scale(.9);
	-webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    font-weight: bold;
    width:100%;
    line-height: 20px;
}
.list ul li p .orignPrice{
	text-decoration: line-through;
	color:#e0e0e0;
	margin-left:4px;
}